@model IEnumerable<MoveisCatalog.Models.Movie>
@*

The Main index page that display cards 
*@
@{
    ViewData["Title"] = "Movies";
}

<h2>
    <i class="bi bi-film"></i>
    Movies
</h2>

<hr />

<a class="btn btn-primary"style="background-color:#861700;" asp-action="Create">
    <i class="bi bi-plus"></i>Add Movie
</a>

<hr />
 <div class="row">
    
 @foreach (var item in Model){
   
                <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card mb-3" style="max-width: 600px;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-dark">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                           @item.Title

                                        </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="@item.Image" style ="width:100%;height:350px" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="card-text"><b>Description : </b>@item.Description</p>
                                    <p class="card-text"><b>MovieCategory : </b> @item.MovieCategory.Category</p>
                                    <p class="card-text"><b>Year :</b> @item.year</p>
                                    <p class="card-text"><b>@item.Rate </b> <i class="bi bi-star-fill text-warning"></i></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text">
                                        <a asp-action="Details" asp-route-id="@item.id"class="btn" style="background-color: #961A00 ; color: white;">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.id"class="btn" style="background-color: #961A00 ; color: white;">Delete</a>
                                        <a asp-action="Edit" asp-route-id="@item.id"class="btn" style="background-color: #961A00 ; color: white;">Edit</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                  </div>
                    </div>
                     
                } 
                
            </div>
               
                    

